<?xml version="1.0"?>
<launch>
  <include file="$(find-pkg-share staubli_tx60_support)/launch/load_tx60.launch" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" exec="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" />
  <!-- <node name="rviz" pkg="rviz" exec="rviz" args="-d $(find-pkg-share industrial_robot_client)/config/robot_state_visualize.rviz" required="true" /> -->
</launch>
